/* client/src/App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #978d8d;
  color:#333;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.customers {
  width: 45%;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.customers h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.customers div {
  display: flex;
  flex-wrap: wrap;
}

.customer {
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px;
  cursor: move;
  background-color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.customer.dragging {
  opacity: 0.7;
}

.customer:hover {
  background-color: #f2f2f2;
}

.planner {
  width: 45%;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.planner h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.planner table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.slot {
  background-color: #b3d9ff;
  font-weight: bold;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.slot.hovered {
  background-color: #99c2ff;
}

.empty-slot {
  background-color: #f5f5f5;
}

/* Additional styling for better visual appeal */

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 2em;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
}

/* Button styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #0056b3;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
